<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ford's Website Recreated Using Tailwind CSS</title>
</head>
<body>
    <div id="app">
        <div class="sticky top-0 z-10">
            <!-- top header -->
            <div class="bg-gray-200 flex justify-between mx-auto py-3 px-12 text-sm text-blue-800 font-medium">
                <a href="#">Bronco</a>
                <a href="#">&#xf3c5; Find Dealership Locations</a>
            </div>
            <!-- top nav -->
            <div class="hidden lg:flex justify-between bg-white text-blue-700 uppercase px-12 py-6 shadow-lg">
                <div class="flex gap-6 font-medium text-sm">
                    <div class="h-4 w-auto">
                        <img src="images/bronco.svg" alt="" class="m-auto">
                    </div>
                    <a v-for="nav in navLeft" href="#">{{nav}}</a>
                </div>
                <div class="flex gap-4 font-medium text-xs">
                    <a v-for="nav in navRight" href="#">{{nav}}</a>
                </div>
            </div>
        </div>

    <!-- main section gallery -->
    <div v-for="section in mainSection" class="relative w-full items-center overflow-hidden">
        <div class="absolute ml-10 md:ml-16 mt-24 max-w-sm bg-gradient-to-r from-gray-200 to-gray-100">
            <div class="text-xl md:text-4xl text-blue-800">
                {{section.heading}}
            </div>
            <div class="hidden md:block text-base md:text-lg text-blue-800">
                {{section.subheading}}
            </div>
            <button class="bg-blue-600 hover:bg-white mt-4 px-12 py-2 text-white hover:text-blue-900 border hover:border-gray-600 capitalize">{{section.cta}}</button>
        </div>
        <img :src="section.imageLocation" :alt="section.title">
    </div>

    <!-- second section -->
    <div v-for="section in secondSection" class="">
        <div class="mt-4 md:mt-12 text-center">
            <div class="text-3xl md:text-5xl font-light text-blue-900">
                {{section.heading}}
            </div>
            <div class="text-lg font-light text-blue-800 mb-8 px-20">
                {{section.subheading}}
            </div>
            <button class="bg-blue-600 hover:bg-white mt-4 px-12 py-2 text-white hover:text-blue-800 border hover:border-gray-600 capitalize">{{section.cta}}</button>
        </div>
        <img :src="section.imageLocation" :alt="section.title">
    </div>

    <!-- holiday section -->
    <div v-for="section in holidaySection" class="">
        <div class="mt-32 text-center absolute">
        </div>
        <img :src="section.imageLocation" :alt="section.title">
        <div class="bg-green-700 h-56 mx-auto text-center">
            <div class="pt-6 text-xl md:text-3xl uppercase font-normal text-white mb-8 px-4 md:px-20">
                {{section.subheading}}
            </div>
            <button class="text-white mt-4 px-12 py-2 text-white hover:text-green-600 hover:bg-white border hover:border-white capitalize">{{section.cta}}</button>
        </div>
        <div class="bg-gradient-to-t from-red-700 to-green-700 h-3">
        </div>
        <div class="bg-red-700 h-3">
        </div>
    </div>

    <!-- flexbox grid section -->
    <div class="grid grid-rows-3 grid-cols-2 md:grid-cols-4">
        <div class="col-span-3 text-center m-auto">
                <div class="text-2xl md:text-3xl text-gray-700 font-light tracking-wider mb-4 justify-center">
                    What's Happening at Ford
                </div>
                <div class="text-lg text-gray-700">
                    The latest technology, news and vehicles.
                </div>
        </div>
        <a href="#" v-for="section in gridSection" class="relative">
            <div class="overflow-hidden bg-blue-500">
                <img :src="section.imageLocation" :alt="section.title" class="ease-in-out transition transform transition-transform duration-300 hover:scale-110">
            </div>
                <div class="bg-blue-700 bg-opacity-75 py-2 px-2 text-teal-100 text-sm font-light" :class="section.class">
                {{section.heading}}
            </div>
        </a>
    </div>

    <!-- recall notice section -->
    <div class="bg-gray-100 text-center py-12">
        <div class="text-3xl md:text-5xl font-light text-red-600 mb-8">
            Airbag Recalls
        </div>
        <button class="text-white font-light mt-4 px-24 py-4 bg-red-600 text-white hover:text-red-600 hover:bg-white border hover:border-red-600 capitalize">Learn More</button>
    </div>
    <div class="py-8 text-center text-blue-500 text-sm font-light uppercase cursor-pointer">
        disclosures
    </div>

    <!-- website search bar -->
    <div class="flex justify-between items-center px-12 bg-gray-800 py-8">
        <div>
            <input type="text" placeholder="search" class="text-xl md:text-2xl text-white px-2 active:border-none uppercase bg-transparent">
        </div>
        <div class="hidden md:flex gap-3 capitalize">
            <a href="#" v-for="nav in navBarFooter" class="font-light text-gray-500 hover:text-white">{{nav}}</a>
        </div>
    </div>

    <!-- site map footer -->
    <div class="grid grid-cols-2 md:grid-cols-5 bg-gray-900">
        <div v-for="n in 5" class="font-light py-8 px-6 md:px-12 capitalize">
            <div class="text-white mb-6">
                Footer header {{n}}
            </div>
            <div class="text-gray-600">
                <div>footer link 1</div>
                <div>footer link 2</div>
                <div>footer link 3</div>
                <div>footer link 4</div>
                <div>footer link 5</div>
                <div>footer link 6</div>
                <div>footer link 7</div>
                <div>footer link 8</div>
                <div>footer link 9</div>
                <div>footer link 10</div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="px-12 py-12">

        <div>
            Ford
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 lg:flex justify-between font-light text-sm text-gray-600 capitalize">
            <div v-for="n in 10">
                <a href="#" class="hover:text-gray-700">
                    footer link {{n}}
                </a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data: {
            navLeft:[
                "Suvs & crossovers",
                "Trucks & Vans",
                "electrified",
                "cars",
                "all vehicles",
            ],
            navRight:[
                "My account",
                "Finance",
                "Support",
                "En",
            ],
            mainSection: [
                {
                    heading: "Built for America",
                    subheading: "As our country gets back to business, we're glad to have never stopped",
                    cta: "Learn More",
                    imageLocation: "images/main-section-cover.jpg",
                },
            ],
            secondSection: [
                {
                    heading: "Something for Everyone",
                    subheading: "See our full lineup of vehicles and find the one that best fits you.",
                    cta: "All vehicles",
                    imageLocation: "images/second-section.webp",
                },
            ],
            holidaySection: [
                {
                    heading: "Built for the Holidays Final Days",
                    subheading: "We're bringing joy with Holiday deals on America's best selling brand.",
                    cta: "view offers",
                    imageLocation: "images/holiday-image-banner.webp",
                },
            ],
            gridSection: [
                {
                    heading: "Which fuel choice is right for you?",
                    imageLocation: "images/section4-image1.webp",
                },
                {
                    heading: "The 2021 F-150 Tremor",
                    imageLocation: "images/section4-image2.jpg",
                    class: "col-span-2 row-span-2"
                },
                {
                    heading: "The All New 2022 E-Transit",
                    imageLocation: "images/section4-image3.webp",
                },
                {
                    heading: "FordPass™ Rewards Visa® Card",
                    imageLocation: "images/section4-image4.webp",
                },
                {
                    heading: "Learn more",
                    imageLocation: "images/section4-image5.webp",
                },
                {
                    heading: "COVID-19 Assistance",
                    imageLocation: "images/section4-image6.webp",
                },
            ],
            navBarFooter:[
                "popular",
                "electric vehicles",
                "ranger",
                "explorer",
            ],
        }
    })
</script>
</html>