<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notion's Website Recreated Using Tailwind CSS</title>
</head>
<body>
    <div id="app">

        <!-- top nav -->
        <div class="flex justify-between items-center mx-6 my-6">
            <div class="flex gap-3 items-center">
                <div class="h-8 w-8">
                    <img :src="website.logo" alt="website.title">
                </div>
                <div class="font-medium">
                    Notion
                </div>
            </div>
            <div class="flex gap-4 font-medium capitalize">
                <div v-for="nav in topNav" class="rounded-sm py-1 px-2 hover:bg-gray-200">
                    {{nav.title}}
                </div>
            </div>
        </div>

        <!-- hero section -->
        <div class="">
            <div class="w-2/5 mx-auto mt-16">
                <img :src="heroSection.imageLocation" :alt="heroSection.headline">
            </div>
            <div class="text-center">
                <div class="text-6xl font-bold">
                    {{heroSection.headline}}
        <!-- content wrapper -->
        <div class="max-w-screen-lg mx-auto">
                </div>
                <div class="text-xl text-gray-600 font-light tracking-wide mb-4">
                    {{heroSection.subheader}}
                </div>
                <form action="">
                    <input type="text" :placeholder="website.ctaPlaceholder" class="border rounded px-2 py-1">
                    <button type="submit" class="bg-red-600 hover:bg-red-700 text-white hover:text-gray-100 border border-red-700 rounded px-3 py-1">
                        {{website.cta}}
                    </button>
                </form>
            </div>
        </div>

        <!-- general usecases section -->
        <div class="bg-orange-100 bg-opacity-50 mx-16 mt-12 py-6 rounded">
            <div class="flex justify-center">
                <div v-for="useCase in useCases" class="rounded px-3 py-1 my-6 hover:bg-orange-200 font-medium cursor-pointer">
                    {{useCase.title}}
                </div>
            </div>
            <div class="w-4/5 mx-auto rounded shadow-lg overflow-hidden">
                <img src="images/notion/team-wiki.png" alt="Team Wiki" class="mx-auto">
            </div>
        </div>

        <!-- company usecases section -->
        <div class="my-8">
            <div class="text-center tracking-wide my-8">
                <div class="text-4xl font-bold">
                    Built to Empower Every Team
                </div>
                <div class="text-xl font-light text-gray-700">
                    Notion solves problems unique to every function.
                </div>
            </div>
            <div class="grid grid-cols-3 mx-20 text-center">
                <div v-for="companyUsecase in companyUsecases">
                    <div class="bg-white">
                        <img :src="companyUsecase.artwork" :alt="companyUsecase.title">
                    </div>
                    <div class="font-bold text-xl">
                        {{companyUsecase.title}}
                    </div>
                </div>
            </div>
        </div>

    <!-- content wrapper -->
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            website:{
                title:"Notion",
                logo:"images/notion/Notion_App_Logo.png",
                cta: "Sign up", 
                ctaPlaceholder: "Enter your email...", 
            },
            topNav:[
                {
                    title: "product",
                },
                {
                    title: "resources",
                },
                {
                    title: "pricing",
                },
                {
                    title: "careers",
                },
                {
                    title: "Login",
                },
                {
                    title: "Sign Up",
                },
            ],
            heroSection: {
                imageLocation: "images/notion/hero.png",
                headline: "All-in-one workspace", 
                subheader: "One tool for your whole team. Write, plan, and get organized.", 
            },
            useCases:[
                {
                    title: "Team Wiki",
                    image: "images/notion/team-wiki.png",
                },
                {
                    title: "Project Tasks",
                    image: "images/notion/projects-tasks.png",
                },
                {
                    title: "Notes & Docs",
                    image: "images/notion/notes-and-docs.png",
                },
            ],
            companyUsecases:[
                {
                    title:"Product",
                    description:"",
                    artwork:"images/notion/product.png",
                    usergoals:[
                        "Visualize your product roadmap",
                        "Write feature specs",
                        "Cross-functional collaboration",
                    ],
                },
                {
                    title:"Engineering",
                    description:"",
                    artwork:"images/notion/engineering.png",
                    usergoals:[
                        "Coordinate releases",
                        "Codify processes",
                        "Write docs to ship fast",
                    ],
                },
                {
                    title:"HR",
                    description:"",
                    artwork:"images/notion/hr.png",
                    usergoals:[
                        "Create a company wiki",
                        "Answer questions at scale",
                        "Onboard new employees",
                    ],
                },
                {
                    title:"Design",
                    description:"",
                    artwork:"images/notion/design.png",
                    usergoals:[
                        "Track every project",
                        "Catalog logos, fonts, and assets",
                        "Publish a design system",
                    ],
                },
                {
                    title:"Sales",
                    description:"",
                    artwork:"images/notion/sales.png",
                    usergoals:[
                        "Build a flexible CRM",
                        "Organize all meeting notes",
                        "Share a single playbook",
                    ],
                },
                {
                    title:"Marketing",
                    description:"",
                    artwork:"images/notion/marketing.png",
                    usergoals:[
                        "Make a style guide",
                        "Track your content calendar",
                        "Keep tabs on everything",
                    ],
                },
            ],
        }
    })
</script>
</html>