<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notion's Website Recreated Using Tailwind CSS</title>
</head>
<body>
    <div id="app">

        <!-- top nav -->
        <div class="flex justify-between items-center px-6 my-3 py-3 text-gray-800 bg-white sticky top-0 border-b transition duration-150">
            <div class="flex gap-3 items-center">
                <div class="h-8 w-8">
                    <img :src="website.logo" :alt="website.title">
                </div>
                <div class="font-medium">
                    {{website.title}}
                </div>
            </div>
            <div class="flex gap-4 font-medium capitalize items-center">
                <a href="#" v-for="nav in topNav" class="rounded-sm py-1 px-2 hover:bg-gray-200">
                    {{nav.title}}
                </a>
                <div class="text-gray-400 font-light">
                    |
                </div>
                <div>
                    Log in
                </div>
                <div>
                    Sign up
                </div>
            </div>
        </div>

        <!-- content wrapper -->
        <div class="max-w-screen-xl mx-auto">


            <!-- hero section -->
            <div class="">
                <div >
                    <img :src="heroSection.imageLocation" :alt="heroSection.headline" class="w-2/5 mx-auto mt-16 px-2">
                </div>
                <div class="text-center">
                    <div class="text-6xl font-bold">
                        {{heroSection.headline}}
                    </div>
                    <div class="text-xl text-gray-700 antialiased tracking-wide mb-4">
                        {{heroSection.subheader}}
                    </div>
                    <form action="">
                        <input type="text" :placeholder="website.ctaPlaceholder" class="border rounded px-2 py-1 placeholder-gray-700 font-light">
                        <button type="submit.prevent" class="bg-red-600 hover:bg-red-700 text-red-100 font-medium hover:text-gray-100 antialiased border border-red-700 rounded px-3 py-1">
                            {{website.cta}}
                        </button>
                    </form>
                    <div class="text-sm text-gray-600 antialiased my-3">
                        For teams & individuals — web, mobile, Mac, Windows.
                    </div>
                </div>
            </div>
            
            <!-- general usecases section -->
            <div class="bg-orange-200 bg-opacity-50 mx-16 mt-12 py-6 rounded">
                <div class="flex justify-center">
                    <div v-for="useCase in useCases" class="rounded px-3 py-2 my-6 hover:bg-orange-200 font-medium cursor-pointer">
                        {{useCase.title}}
                    </div>
                </div>
                <div class="w-4/5 mx-auto rounded shadow-lg overflow-hidden">
                    <img src="images/notion/team-wiki.png" alt="Team Wiki" class="mx-auto">
                </div>
            </div>
            <img src="images/notion/logo-strip-desktop-v1.png" alt="" class="w-4/5 mx-auto my-10">
            
            <!-- company usecases section -->
            <div class="my-32">
                <div class="text-center tracking-wide my-8">
                    <div class="text-4xl font-bold">
                        {{companyUsecaseHeader.headline}}
                    </div>
                    <div class="text-xl font-light text-gray-700">
                        {{companyUsecaseHeader.subheader}}
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-6 my-16 text-center">
                    <div v-for="companyUsecase in companyUsecases">
                        <div class="bg-white">
                            <img :src="companyUsecase.artwork" :alt="companyUsecase.title" class="h-32 object-cover m-auto p-3">
                        </div>
                        <div class="font-bold text-xl">
                            {{companyUsecase.title}}
                        </div>
                        <div v-for="usecase in companyUsecase">
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- testimonial header section -->
            <img :src="testimonialHeader.image" :alt="testimonialHeader.image" class="max-w-xl mx-auto object-contain">
            <div class="text-center">
                <div class="text-4xl mt-6 mb-2 font-bold">
                    {{testimonialHeader.headline}}
                </div>
                <div class="text-xl mb-8 text-gray-700">
                    {{testimonialHeader.subheader}}
                </div>
                <form action="">
                    <input type="text" :placeholder="website.ctaPlaceholder" class="border rounded px-2 py-1 placeholder-gray-700 font-light">
                    <button type="submit.prevent" class="bg-red-600 hover:bg-red-700 text-red-100 font-medium hover:text-gray-100 border border-red-700 rounded px-3 py-1">
                        {{website.cta}}
                    </button>
                </form>
            </div>
            
            <!-- testimonials section -->
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-16 p-16 mx-auto">
                <a href="#" v-for="testimonial in testimonials" class="bg-orange-100 rounded-lg border border-orange-100 hover:border-gray-300 p-4 flex flex-col space-between items-start">
                    <img :src="testimonial.companyLogo" :alt="testimonial.sourceTitle" class="h-12 object-contain object-left overflow-hidden">
                    <div class="text-lg my-6 h-full">
                        "{{testimonial.content.trim()}}"
                    </div>
                    <div class="text-sm flex">
                        {{testimonial.source}}
                    </div>
                    <div class="text-sm text-gray-700 capitalize">
                        {{testimonial.sourceTitle}}
                    </div>
                </a>
            </div>
            
        </div>

    <!-- content wrapper -->
    </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el:"#app",
            data:{
                website:{
                    title:"Notion",
                    logo:"images/notion/Notion_App_Logo.png",
                    cta: "Sign up", 
                    ctaPlaceholder: "Enter your email...", 
                },
            topNav:[
                {
                    title: "product",
                },
                {
                    title: "download",
                },
                {
                    title: "resources",
                },
                {
                    title: "pricing",
                },
                {
                    title: "careers",
                },
            ],
            heroSection: {
                imageLocation: "images/notion/hero.png",
                headline: "All-in-one workspace", 
                subheader: "One tool for your whole team. Write, plan, and get organized.", 
            },
            useCases:[
                {
                    title: "📘 Team Wiki",
                    image: "images/notion/team-wiki.png",
                },
                {
                    title: "🎒 Project Tasks",
                    image: "images/notion/projects-tasks.png",
                },
                {
                    title: "✍️ Notes & Docs",
                    image: "images/notion/notes-and-docs.png",
                },
            ],
            companyUsecaseHeader:{
                headline: "Built to empower every team", 
                subheader: "Notion solves problems unique to every function.", 
            },
            companyUsecases:[
                {
                    title:"Product",
                    description:"",
                    artwork:"images/notion/product.png",
                    usergoals:[
                        "Visualize your product roadmap",
                        "Write feature specs",
                        "Cross-functional collaboration",
                    ],
                },
                {
                    title:"Engineering",
                    description:"",
                    artwork:"images/notion/engineering.png",
                    usergoals:[
                        "Coordinate releases",
                        "Codify processes",
                        "Write docs to ship fast",
                    ],
                },
                {
                    title:"HR",
                    description:"",
                    artwork:"images/notion/hr.png",
                    usergoals:[
                        "Create a company wiki",
                        "Answer questions at scale",
                        "Onboard new employees",
                    ],
                },
                {
                    title:"Design",
                    description:"",
                    artwork:"images/notion/design.png",
                    usergoals:[
                        "Track every project",
                        "Catalog logos, fonts, and assets",
                        "Publish a design system",
                    ],
                },
                {
                    title:"Sales",
                    description:"",
                    artwork:"images/notion/sales.png",
                    usergoals:[
                        "Build a flexible CRM",
                        "Organize all meeting notes",
                        "Share a single playbook",
                    ],
                },
                {
                    title:"Marketing",
                    description:"",
                    artwork:"images/notion/marketing.png",
                    usergoals:[
                        "Make a style guide",
                        "Track your content calendar",
                        "Keep tabs on everything",
                    ],
                },
            ],
            testimonialHeader:{
                image:"images/notion/templates.png",
                headline:"Trusted by teams of 20 to 2,000",
                subheader:"Our Customers range from startups to Fortune 500 companies.",
            },
            testimonials:[
                {
                    companyLogo:"images/notion/blinkist.png",
                    content:"On notion, everything is in one place and everyone can find what they need on their own. We have cut down on interruptions, and stayed more focused on priorities.",
                    source:"Milica Radojevic",
                    sourceTitle:"People experience partner, Blinkist",
                },
                {
                    companyLogo:"images/notion/figma.png",
                    content:"Notions ease-of-use is one of its hallmarks. It helps you visually navigate contact and remember where something is.",
                    source:"Marie Szuts",
                    sourceTitle:"Head of people ops, Figma",
                },
                {
                    companyLogo:"images/notion/duolingo.png",
                    content:" we wouldn't be able to customize our workflow like this in any other product",
                    source:"Justin Goff",
                    sourceTitle:"product manager, duolingo",
                },
            ]
        },
    })
</script>
</html>